*,
::after,
::before {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Montserrat", sans-serif;
  color: #181818;
  font-weight: 500;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1180px;
  width: 100%;
}

.header {
  background-color: #ffffff;
}
.header__inner {
  padding: 60px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  display: block;
  width: 180px;
  height: 37px;
}
.header__logo img {
  display: block;
  width: 100%;
  height: 100%;
}

.title {
  font-size: 52px;
  line-height: 62px;
}
.title--intro {
  text-align: left;
  width: 481px;
  margin: 17px 0 37px 0;
}
.title--about {
  display: flex;
  justify-content: center;
}
.title--about::after {
  content: "";
  background-image: url("../img/intro/stars.svg");
  background-size: 100%;
  display: block;
  width: 77px;
  height: 69px;
  margin-left: 15px;
}
.title--autor {
  width: 80%;
  margin: 0 auto;
}
.title--buy {
  font-size: 45px;
  line-height: 55px;
  width: 95%;
  margin: 0 auto;
}

.subtitle {
  font-size: 36px;
  line-height: 47px;
}
.subtitle--intro {
  font-size: 30px;
  line-height: 37px;
}

.text {
  font-size: 22px;
  line-height: 29px;
}
.text--italic {
  font-style: italic;
}
.text--intro {
  width: 370px;
}
.text--bold {
  font-weight: 700;
}
.text--semibold {
  font-weight: 600;
}
.text--center {
  text-align: center;
}
.text--violet {
  background-color: #C0C0F2;
  padding: 4px;
  border-radius: 10px;
}
.text--autor {
  margin-bottom: 30px;
}
.text--buy {
  font-size: 45px;
  margin-top: 48px;
}

.button {
  display: block;
  width: 290px;
  height: 80px;
  border-radius: 90px;
  text-align: center;
  padding: 25px 72px 26px 72px;
  font-size: 22px;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  background-color: #F185B1;
  color: #181818;
}
.button--intro {
  margin-top: 47px;
}
.button:hover {
  background-color: #C0C0F2;
  transition: 0.2s linear;
}
.button--buy {
  border: none;
  outline: none;
  width: 600px;
  cursor: pointer;
}

.intro {
  overflow: hidden;
  padding-bottom: 100px;
}
.intro__inner {
  display: flex;
  justify-content: space-between;
  margin-top: 71px;
}
.intro__img {
  position: relative;
  display: block;
  width: 568px;
  height: 532px;
}
.intro__img img {
  display: block;
  width: 100%;
  height: 100%;
}
.intro__img::before {
  position: absolute;
  bottom: -41px;
  left: -104px;
  content: "";
  background-image: url("../img/intro/img.svg");
  background-size: 100%;
  width: 309.28px;
  height: 208.16px;
  display: block;
}
.intro__block {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.intro__block--item {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}
.intro__block svg {
  margin-right: 20px;
  display: block;
  width: 42px;
  height: 35px;
  fill: #F185B1;
}

.about {
  overflow: hidden;
  padding: 77px 0 64px 0;
}
.about__inner {
  margin-top: 94px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.about__inner--item {
  padding: 29px 20px 41px 20px;
  height: 160px;
  width: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #FFFFFF;
  border: 1px #F185B1 solid;
  box-shadow: 0px 4px 13px #C0C0F2;
  border-radius: 25px;
  text-align: center;
}

.program {
  overflow: hidden;
}
.program__inner {
  padding: 117px 0 90px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.program__inner--item {
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 880px;
  padding: 35px 93px 50px 93px;
  background-color: #ffffff;
  box-shadow: 5px 5px 20px #C0C0F2;
  border-radius: 25px;
}
.program__inner--item:first-of-type {
  position: relative;
}
.program__inner--item:first-of-type::after {
  content: "";
  position: absolute;
  top: -150px;
  right: -110px;
  display: block;
  background-image: url("../img/intro/star-program.svg");
  background-size: 100%;
  width: 177px;
  height: 169px;
}
.program__list {
  margin-top: 30px;
}
.program__list--item {
  margin-bottom: 25px;
  display: flex;
  align-items: baseline;
}
.program__list--item::before {
  content: "";
  display: flex;
  flex: 0 0 auto;
  width: 10px;
  height: 10px;
  background-color: #C0C0F2;
  border-radius: 100%;
  margin-right: 15px;
}
.program__list--item:last-child {
  margin-bottom: 0;
}

.autor {
  padding: 90px 0 85px 0;
  overflow: hidden;
}
.autor__inner {
  position: relative;
  margin-top: 72px;
  padding: 74px 43px 60px 44px;
  display: flex;
  justify-content: space-between;
  background: #FFFFFF;
  box-shadow: 5px 5px 20px #C0C0F2;
  border-radius: 25px;
}
.autor__inner::before {
  content: "";
  position: absolute;
  top: -40px;
  left: -50px;
  background-image: url("../img/autor/star-autor.svg");
  background-size: 100%;
  display: block;
  width: 150px;
  height: 120px;
}
.autor__text {
  width: 783px;
}
.autor__img {
  display: flex;
  flex: 0 0 auto;
  width: 266px;
  height: 358px;
}
.autor__img img {
  display: block;
  width: 100%;
  height: 100%;
}

.buy {
  padding: 80px 0 60px 0;
}
.buy__form {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy__form--input {
  display: block;
  width: 600px;
  height: 80px;
  border-radius: 25px;
  border: 1px #F185B1 solid;
  color: #424040;
  font-size: 22px;
  padding: 18px;
  outline: none;
}
.buy__form--input:active {
  color: #181818;
}
.buy__form--input:focus {
  color: #181818;
}

.footer {
  background-color: #ffffff;
  padding: 90px 0;
}
.footer__inner {
  margin-top: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__inner--text {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #181818;
}
.footer__inner--email {
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  text-decoration: underline;
  color: #F185B1;
}
.footer__inner--email:hover {
  color: #C0C0F2;
  transition: 0.2s linear;
}
.footer__link {
  margin: 60px auto 0 auto;
  display: flex;
  justify-content: space-between;
  width: 550px;
}
.footer__link--item {
  display: block;
  width: 65px;
  height: 65px;
  fill: #C0C0F2;
}
.footer__link--item:hover {
  fill: #F185B1;
  transition: 0.2s linear;
}
.footer__link--item svg {
  display: block;
  width: 100%;
  height: 100%;
}

@media (max-width: 1366px) {
  .container {
    padding: 0 2%;
  }

  .about__inner--item {
    width: 24.5%;
  }
}
@media (max-width: 1090px) {
  .intro__img {
    width: 50%;
    height: fit-content;
  }

  .about__inner {
    flex-wrap: wrap;
  }
  .about__inner--item {
    width: 48%;
    margin-bottom: 30px;
  }

  .program__inner--item {
    width: 85%;
  }
  .program__inner--item:first-of-type::after {
    top: -100px;
    right: -95px;
  }
}
@media (max-width: 991px) {
  .header__inner {
    padding: 40px 0 0 0;
    justify-content: center;
  }

  .intro {
    padding-bottom: 60px;
  }
  .intro__inner {
    margin-top: 50px;
    flex-direction: column;
    align-items: center;
  }
  .intro__block {
    margin-top: 30px;
    align-items: center;
  }
  .intro__img {
    margin-top: 40px;
    width: 75%;
  }
  .intro__img::before {
    top: -65px;
    right: -85px;
    bottom: auto;
    left: auto;
  }

  .title--intro {
    text-align: center;
  }

  .subtitle--intro {
    text-align: center;
  }

  .text--intro {
    text-align: center;
    margin: 0 auto;
  }

  .button--intro {
    margin-top: 25px;
  }

  .program__inner {
    padding: 90px 0;
  }
  .program__inner--item {
    padding: 35px 65px 50px 70px;
  }

  .autor__inner {
    flex-direction: column;
  }
  .autor__inner::before {
    width: 134px;
    height: 102px;
    right: -27px;
    left: auto;
    transform: scaleX(-1);
  }
  .autor__img {
    margin-top: 30px;
  }
  .autor__text {
    width: 88%;
  }
}
@media (max-width: 834px) {
  .footer__link {
    width: 45%;
  }
  .footer__link--item {
    width: 50px;
    height: 50px;
  }
}
@media (max-width: 768px) {
  .footer__inner--text {
    font-size: 24px;
  }
  .footer__inner--email {
    font-size: 24px;
  }
}
@media (max-width: 677px) {
  .button--buy {
    width: 500px;
  }

  .intro__img::before {
    width: 225px;
    height: 138px;
    right: -65px;
  }

  .program__inner {
    padding: 60px 0;
  }
  .program__inner--item {
    padding: 35px 50px 50px 30px;
    margin-bottom: 70px;
  }
  .program__inner--item:first-of-type::after {
    top: -64px;
    right: -44px;
    width: 117px;
    height: 117px;
  }

  .buy__form--input {
    width: 500px;
    margin: 0 auto;
  }

  .footer__inner--text {
    font-size: 21px;
  }
  .footer__inner--email {
    font-size: 21px;
  }
  .footer__link {
    margin: 40px auto 0 auto;
    width: 40%;
  }
  .footer__link--item {
    width: 35px;
    height: 35px;
  }
}
@media (max-width: 568px) {
  .header__inner {
    padding: 20px 0 0 0;
  }

  .intro__inner {
    margin-top: 30px;
  }

  .title {
    font-size: 32px;
    line-height: 42px;
  }
  .title--intro {
    margin: 20px 0;
    width: auto;
  }
  .title--about::after {
    width: 40px;
    height: 35px;
  }
  .title--autor {
    width: auto;
  }

  .subtitle {
    font-size: 22px;
    line-height: 29px;
  }

  .text {
    font-size: 17px;
    line-height: 21px;
  }
  .text--intro {
    width: 80%;
  }
  .text--date {
    font-size: 20px;
  }
  .text--buy {
    font-size: 32px;
  }

  .button {
    width: 260px;
    height: 59px;
    font-size: 17px;
    padding: 18px 57px;
  }
  .button--buy {
    width: 100%;
  }

  .about__inner {
    margin-top: 50px;
  }

  .autor {
    padding: 90px 0 50px 0;
  }
  .autor__inner {
    padding: 55px 30px 55px 25px;
  }
  .autor__img {
    width: 60%;
    height: auto;
  }
  .autor__text {
    width: 100%;
  }

  .buy__form {
    margin-top: 60px;
  }
  .buy__form--input {
    height: 59px;
    font-size: 17px;
    width: 400px;
  }
}
@media (max-width: 468px) {
  .about__inner {
    flex-direction: column;
    align-items: center;
  }
  .about__inner--item {
    width: 90%;
    padding: 25px 20px 25px 19px;
    height: 100px;
  }
}
@media (max-width: 414px) {
  .intro__img {
    width: 80%;
  }
  .intro__img::before {
    width: 170px;
    height: 103px;
    right: -50px;
    top: -50px;
  }

  .subtitle--intro {
    font-size: 18px;
    line-height: 21px;
  }

  .text--intro {
    width: 100%;
  }
  .text--buy {
    font-size: 28px;
  }
  .text--violet {
    padding: 0 4px;
  }

  .button--buy {
    width: 100%;
  }

  .about {
    padding: 50px 0 40px 0;
  }

  .program__inner--item {
    width: 95%;
    padding: 35px 20px 50px 30px;
  }
  .program__inner--item:first-of-type::after {
    top: -53px;
    right: -15px;
  }

  .autor__inner {
    padding: 45px 30px 45px 25px;
  }
  .autor__img {
    width: 80%;
  }

  .buy__form {
    display: block;
  }
  .buy__form--input {
    width: 100%;
  }

  .footer {
    padding-bottom: 50px;
  }
  .footer__inner {
    margin-top: 25px;
  }
  .footer__inner--text {
    font-size: 18px;
  }
  .footer__inner--email {
    font-size: 18px;
  }
  .footer__link {
    width: 80%;
  }
}