$dark: #181818;
$violet: #C0C0F2;
$pink: #F185B1;
*,
::after,
::before {
            box-sizing: border-box;
}
body {
    margin: 0;
    background-color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    color: $dark;
    font-weight: 500;
}

h1,h2,h3,h4,h5,h6,p,ul,li {
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
}
a {
    text-decoration: none;
}
.container {
    margin: 0 auto;
    max-width: 1180px;
    width: 100%;
}
.header {
    background-color: #ffffff;
    &__inner {
        padding: 60px 0 0 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__logo {
        display: block;
        width: 180px;
        height: 37px;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
.title {
    font-size: 52px;
    line-height: 62px;
    &--intro {
        text-align: left;
        width: 481px;
        margin: 17px 0 37px 0;
    }
    &--about {
        display: flex;
        justify-content: center;
        &::after {
            content: '';
            background-image: url('../img/intro/stars.svg');
            background-size: 100%;
            display: block;
            width: 77px;
            height: 69px;
            margin-left: 15px;
        }
    }
    &--autor {
        width: 80%;
        margin: 0 auto;
    }
    &--buy {
        font-size: 45px;
        line-height: 55px;
        width: 95%;
        margin: 0 auto;
    }
}
.subtitle {
    font-size: 36px;
    line-height: 47px;
    &--intro {
        font-size: 30px;
        line-height: 37px;
    }
}
.text {
    font-size: 22px;
    line-height: 29px;
    &--italic {
        font-style: italic;
    }
    &--intro {
        width: 370px;
    }
    &--bold {
        font-weight: 700;
    }
    &--semibold {
        font-weight: 600;
    }
    &--center {
        text-align: center;
    }
    &--violet {
        background-color: $violet;
        padding: 4px;
        border-radius: 10px;
    }
    &--autor {
        margin-bottom: 30px;
    }
    &--buy {
        font-size: 45px;
        margin-top: 48px;
    }
}
.button {
    display: block;
    width: 290px;
    height: 80px;
    border-radius: 90px;
    text-align: center;
    padding: 25px 72px 26px 72px;
    font-size: 22px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    background-color: $pink;
    color: $dark;
    &--intro {
        margin-top: 47px;
    }
    &:hover {
        background-color: $violet;
        transition: .2s linear;
    }
    &--buy {
        border: none;
        outline: none;
        width: 600px;
        cursor: pointer;
    }
}
.intro {
    overflow: hidden;
    padding-bottom: 100px;
    &__inner {
        display: flex;
        justify-content: space-between;
        margin-top: 71px;
    }
    &__img {
        position: relative;
        display: block;
        width: 568px;
        height: 532px;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
        &::before {
            position: absolute;
            bottom: -41px;
            left: -104px;
            content: '';
            background-image: url('../img/intro/img.svg');
            background-size: 100%;
            width: 309.28px;
            height: 208.16px;
            display: block;
        }
    }
    &__block {
        margin-top: 50px;
        display: flex;
        flex-direction: column;
        &--item {
            margin-bottom: 20px;
            display: flex;
            align-items: center;
        }
        svg {
            margin-right: 20px;
            display: block;
            width: 42px;
            height: 35px;
            fill: $pink;
        }
    }
}
.about {
    overflow: hidden;
    padding: 77px 0 64px 0;
    &__inner {
        margin-top: 94px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        &--item {
            padding: 29px 20px 41px 20px;
            height: 160px;
            width: 23%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #FFFFFF;
            border: 1px $pink solid;
            box-shadow: 0px 4px 13px #C0C0F2;
            border-radius: 25px;
            text-align: center;
        }
    }
}
.program {
    overflow: hidden;
    &__inner {
        padding: 117px 0 90px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--item {
            margin-bottom: 100px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            width: 880px;
            padding: 35px 93px 50px 93px;
            background-color: #ffffff;
            box-shadow: 5px 5px 20px #C0C0F2;
            border-radius: 25px;
            &:first-of-type {
                position: relative;
                &::after {
                    content: '';
                    position: absolute;
                    top: -150px;
                    right: -110px;
                    display: block;
                    background-image: url('../img/intro/star-program.svg');
                    background-size: 100%;
                    width: 177px;
                    height: 169px;
                }
            }
        }
    }
    &__list {
        margin-top: 30px;
        &--item {
            margin-bottom: 25px;
            display: flex;
            align-items: baseline;
            &::before {
                content: '';
                display: flex;
                flex: 0 0 auto;
                width: 10px;
                height: 10px;
                background-color: $violet;
                border-radius: 100%;
                margin-right: 15px;
            }
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}
.autor {
    padding: 90px 0 85px 0;
    overflow: hidden;
    &__inner {
        position: relative;
        margin-top: 72px;
        padding: 74px 43px 60px 44px;
        display: flex;
        justify-content: space-between;
        background: #FFFFFF;
        box-shadow: 5px 5px 20px #C0C0F2;
        border-radius: 25px;
        &::before {
            content: '';
            position: absolute;
            top: -40px;
            left: -50px;
            background-image: url('../img/autor/star-autor.svg');
            background-size: 100%;
            display: block;
            width: 150px;
            height: 120px;
        }
    }
    &__text {
        width: 783px;
    }
    &__img {
        display: flex;
        flex: 0 0 auto;
        width: 266px;
        height: 358px;
        img {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}
.buy {
    padding: 80px 0 60px 0;
    &__form {
        margin-top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--input {
            display: block;
            width: 600px;
            height: 80px;
            border-radius: 25px;
            border: 1px $pink solid;
            color: #424040;
            font-size: 22px;
            padding: 18px;
            outline: none;
            &:active {
                color: $dark;
            }
            &:focus {
                color: $dark;
            }
        }
    }
    // position: relative;
    // &::before {
    //     position: absolute;
    //     content: url('../img/buy/trolley.svg');
    //     display: block;
    //     top: 240px;
    //     left: 82px;
    // }
    // &::after {
    //     position: absolute;
    //     content: url('../img/buy/column.svg');
    //     display: block;
    //     top: -65px;
    //     right: 82px;
    // }
}
.footer {
    background-color: #ffffff;
    padding: 90px 0;
    &__inner {
        margin-top: 70px;
        display: flex;
        flex-direction: column;
        align-items: center;
        &--text {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            color: $dark;
        }
        &--email {
            font-weight: normal;
            font-size: 24px;
            line-height: 29px;
            text-align: center;
            text-decoration: underline;
            color: $pink;
            &:hover {
                color: $violet;
                transition: .2s linear;
            }
        }
    }
    &__link {
        margin: 60px auto 0 auto;
        display: flex;
        justify-content: space-between;
        width: 550px;
        &--item {
            display: block;
            width: 65px;
            height: 65px;
            fill: $violet;
            &:hover {
                fill: $pink;
                transition: .2s linear;
            }
            svg {
                display: block;
                width: 100%;
                height: 100%;
            }
        }
    }
}
@media (max-width: 1366px) {
    .container {
        padding: 0 2%;
    }
    .about {
        &__inner {
            &--item {
                width: 24.5%;
            }
        }
    }
}
@media (max-width: 1090px) {
    .intro {
        &__img {
            width: 50%;
            height: fit-content;
        }
    }
    .about {
        &__inner {
            flex-wrap: wrap;
            &--item {
                width: 48%;
                margin-bottom: 30px;
            }
        }
    }
    .program {
        &__inner {
            &--item {
                width: 85%;
                &:first-of-type {
                    &::after {
                        top: -100px;
                        right: -95px;
                    }
                }
            }
        }
    }
}
@media (max-width: 991px) {
    .header {
        &__inner {
            padding: 40px 0 0 0;
            justify-content: center;
        }
    }
    .intro {
        padding-bottom: 60px;
        &__inner {
            margin-top: 50px;
            flex-direction: column;
            align-items: center;
        }
        &__block {
            margin-top: 30px;
            align-items: center;
        }
        &__img {
            margin-top: 40px;
            width: 75%;
            &::before {
                top: -65px;
                right: -85px;
                bottom: auto;
                left: auto;
            }
        }
    }
    .title {
        &--intro {
            text-align: center;
        }
    }
    .subtitle {
        &--intro {
            text-align: center;
        }
    }
    .text {
        &--intro  {
            text-align: center;
            margin: 0 auto;
        }
    }
    .button {
        &--intro {
            margin-top: 25px;
        }
    }
    .program {
        &__inner {
            padding: 90px 0;
            &--item {
                padding: 35px 65px 50px 70px;
            }
        }
    }
    .autor {
        &__inner {
            flex-direction: column;
            &::before {
                width: 134px;
                height: 102px;
                right: -27px;
                left: auto;
                transform: scaleX(-1);
            }
        }
        &__img {
            margin-top: 30px;
        }
        &__text {
            width: 88%;
        }
    }
}
@media (max-width: 834px) {
    .footer {
        &__link {
            width: 45%;
            &--item {
                width: 50px;
                height: 50px;
            }
        }
    }
}
@media (max-width: 768px) {
    .footer {
        &__inner {
            &--text {
                font-size: 24px;
            }
            &--email {
                font-size: 24px;
            }
        }
    }
}
@media (max-width: 677px) {
    .button {
        &--buy {
            width: 500px;
        }
    }
    .intro {
        &__img {
            &::before {
                width: 225px;
                height: 138px;
                right: -65px;
            }
        }
    }
    .program {
        &__inner {
            padding: 60px 0;
            &--item {
                padding: 35px 50px 50px 30px;
                margin-bottom: 70px;
                &:first-of-type {
                    &::after {
                        top: -64px;
                        right: -44px;
                        width: 117px;
                        height: 117px;
                    }
                }
            }
        }
    }
    .buy {
        &__form {
            &--input {
                width: 500px;
                margin: 0 auto;
            }
        }
    }
    .footer {
        &__inner {
            &--text {
                font-size: 21px;
            }
            &--email {
                font-size: 21px;
            }
        }
        &__link {
            margin: 40px auto 0 auto;
            width: 40%;
            &--item {
                width: 35px;
                height: 35px;
            }
        }
    }
}
@media (max-width: 568px) {
    .header {
        &__inner {
            padding: 20px 0 0 0;
        }
    }
    .intro {
        &__inner {
            margin-top: 30px;
        }
    }
    .title {
        font-size: 32px;
        line-height: 42px;
        &--intro {
            margin: 20px 0;
            width: auto;
        }
        &--about {
            &::after {
                width: 40px;
                height: 35px;
            }
        }
        &--autor {
            width: auto;
        }
    }
    .subtitle {
        font-size: 22px;
        line-height: 29px
    }
    .text {
        font-size: 17px;
        line-height: 21px;
        &--intro {
            width: 80%;
        }
        &--date {
            font-size: 20px;
        }
        &--buy {
            font-size: 32px;
        }
    }
    .button {
        width: 260px;
        height: 59px;
        font-size: 17px;
        padding: 18px 57px;
        &--buy {
            width: 100%;
        }
    }
    .about {
        &__inner {
            margin-top: 50px;
        }
    }
    .autor {
        padding: 90px 0 50px 0;
        &__inner {
            padding: 55px 30px 55px 25px;
        }
        &__img {
            width: 80%;
            height: auto;
            margin: 30px auto 0 auto
        }
        &__text {
            width: 100%;
        }
    }
    .buy {
        &__form {
            margin-top: 60px;
            &--input {
                height: 59px;
                font-size: 17px;
                width: 400px;
            }
        }
    }
}
@media (max-width: 468px) {
    .about {
        &__inner {
            flex-direction: column;
            align-items: center;
            &--item {
                width: 90%;
                padding: 25px 20px 25px 19px;
                height: 100px;
            }
        }
    }
}
@media (max-width: 414px) {
    .intro {
        &__img {
            width: 80%;
            &::before {
                width: 170px;
                height: 103px;
                right: -50px;
                top: -50px;
            }
        }
    }
    .subtitle {
        &--intro {
            font-size: 18px;
            line-height: 21px;
        }
    }
    .text {
        &--intro {
            width: 100%;
        }
        &--buy {
            font-size: 28px;
        }
        &--violet {
            padding: 0 4px;
        }
    }
    .button {
        &--buy {
            width: 100%;
        }
    }
    .about {
        padding: 50px 0 40px 0;
    }
    .program {
        &__inner {
            &--item {
                width: 95%;
                padding: 35px 20px 50px 30px;
                &:first-of-type {
                    &::after {
                        top: -53px;
                        right: -15px;
                    }
                }
            }
        }
    }
    .autor {
        &__inner {
            padding: 45px 30px 45px 25px;
        }
        &__img {
            width: 100%;
        }
    }
    .buy {
        &__form {
            display: block;
            &--input {
                width: 100%;
            }
        }
    }
    .footer {
        padding-bottom: 50px;
        &__inner {
            margin-top: 25px;
            &--text {
                font-size: 18px;
            }
            &--email {
                font-size: 18px;
            }
        }
        &__link {
            width: 80%;
        }
    }
}



